
* {
   -fx-mainWindowBackgroundColor: #323232;
   -fx-menubarBackgroundColor: #545454;
   -fx-menuTextColor: #bdbdbd;
   -fx-menubarHoverColor: #383838;
   -fx-WhiteColor: white;
   -fx-AreaPlotColor: #8bcad9;
}

.root{
    -fx-background-color: -fx-mainWindowBackgroundColor;
    -fx-cell-focus-inner-border: grey;
}

.default-color0.chart-area-symbol {
    -fx-background-color: black, black;
}

.default-color0.chart-series-area-line {
    -fx-stroke: black;
}

.default-color0.chart-series-area-fill {
    -fx-fill: -fx-AreaPlotColor;
}
.check-box .box {
    -fx-background-color: -fx-WhiteColor;
    -fx-border-color:grey;
    -fx-border-radius:3px;
}

.check-box:selected .mark {
    -fx-background-color: -fx-WhiteColor;
}

.check-box:selected .box {
    -fx-background-color: #28a3f4;
}
.check-box {
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-text-fill: -fx-WhiteColor;
}

.menu-bar, .menu-bar .label,.context-menu, .menu-button{
    -fx-background-color: -fx-menubarBackgroundColor;
    -fx-text-fill: -fx-WhiteColor;
}

.menu-bar,.context-menu{
    -fx-padding: 0;
}

.menu:focused, .menu-item:hover, .menu-item:hover .label, .menu-item:focused, .menu-item:focused .label{
    -fx-background-color: -fx-menubarHoverColor;
}